/* 768 para talblet y esta dentro de los 800px */
@media screen and (max-width: 800px){
    /*Portada*/
    .titulo{
        font-size: 45px;
    }
    .title-a {
        font-size: 18px;
    }
    .portada{
        height: auto;
    }
    .portada .button {
        margin-bottom: 30px;
        display: inline-block;
    }
    /* --FinPortada */

    /*--Cafes--*/

    .cafes {
        text-align: center;
        margin: 0px;
    }
    .right, .left {
        float: none;
        position: static;
    }

    .contenedor-cafe-a {
        position: static;
        padding: 0px;
    }

    .cafe.granoscafe {
        height: auto;
    }

    .contenedor-cafe-b {
        margin-left: 0px;
        position: static;
    }

    .cafe li {
        list-style: none;
    }

    .title-b {
        margin: 0px;
    }

    /*--FinCafes*/
}

/*-- FinTablet*/


/*--InicioCelular-- menor a 767px*/

@media screen and (max-width: 767px) {
    /*footer*/
    textarea {
        width: 100%;
    }
    
    .footer .contenedor {
        display: block;
    }

    .footer img {
        width: 260px;
    }

    .contacto {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .generos label {
        font-size: 16px;
    }

    .intereses label {
        display: block;
        font-size: 16px;
    }

    .formulario {
        display: block;
        width: 260px;
        margin: 0 auto;
    }

    .formulario .button {
        width: 100%;
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.24);
    }

    .col1 {
        margin: 0;
    }

    /* selectores de atributo*/
    input[type="text"],
    input[type="email"]{
        font-size: 16px;
        padding: 5px;
    }

    input[type="radio"],
    input[type="checkbox"]{
        position: relative;
        top: 3px;
        zoom: 1.5;
    }

    /*FinFooter*/
}